.big-wrapper {
    background-color: #1c1b29;
}

.person {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(15%, 25px);
}
.about {
    position: relative;
    /* min-height: 100vh; */
    padding: 50px 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-contain {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 30px;
    /* margin-top: 10px; */
}

.about-contain .aboutInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-contain .aboutInfo p,
.about-contain .aboutForm p {
    color: #1c1b29;
    font-family: linotte;
    font-size: 18px;
    text-align: justify;
}
.about-contain .aboutInfo p b, .about-contain .aboutForm p b{
    color: rgb(66, 66, 66);
    font-size: 24px;
}

.about-contain .aboutForm {
    position: relative;
    width: 50%;
}

@media (min-width:991px) {
    .horizontal-line {
        border: 1px solid grey;
        height: 130vh;
        width: 2px;
    }
}

/* about Form rsponsiveness */
@media (max-width:991px) {
    .about {
        padding: 20px;
    }

    .about-contain {
        flex-direction: column;
        gap: 10px;
    }

    .about-contain .aboutInfo,
    .about-contain .aboutForm {
        width: 100%;
    }

    .about-contain .aboutForm {
        padding: 50px, 30px;
    }

    .horizonal-line {
        color: grey;
        width: 100%;
        height: 2px;
    }
}


@media (max-width:767px) {

    .horizontal-line {
        border: 1px solid white;
        height: 2px;
        width: 100%;
    }
}

