@font-face {
    font-family: 'Batangas';
    src: url('../fonts/Batangas\ Bold\ 700.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Linotte';
    src: url('../fonts/Linotte\ Regular.otf');
    font-display: swap;
}

.creator {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creator h3 {
    font-family: 'Comfortaa';
    font-weight: bolder;
    font-size: 28px;
}

.creator-contain {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 50px;
    margin-top: 10px;
}

.creator-contain .creatorInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.creator-contain .creatorInfo p,
.creator-contain .creatorForm p {
    color: silver;
}

.creator-contain .creatorForm {
    position: relative;
    width: 50%;
}

.creator-contain .creatorForm h3,
.creator-contain .creatorInfo h3 {
    padding: 20px 0;
}

.creator-contain .creatorForm ul li,
.creator-contain .creatorInfo ul li {
    list-style: disc;
    padding: 10px 0;
    font-family: linotte;
    color: grey;
    font-size: 20px;
    line-height: 50px;
}

.creator-contain .creatorForm p,
.creator-contain .creatorInfo p {
    font-family: linotte;
    padding: 20px 0;
    color: grey;
    font-size: 20px;
    line-height: 50px;
}


/* creator Form rsponsiveness */
@media (max-width:991px) {
    .creator {
        padding: 50px;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .creator-contain {
        flex-direction: column;
        gap: 10px;
    }

    .creator-contain .creatorInfo,
    .creator-contain .creatorForm {
        width: 100%;
    }

    .creator-contain .creatorForm {
        padding: 50px, 30px;
    }

    .horizonal-line {
        width: 100%;
        height: 0.5%;
    }
}