.container{
    width: 100%;
}
.contain{
    width: 100%;
}
.contain h3{
    font-family: Batangas;
    font-size: 20px;
    margin-top: 20px;
    color: #ffffff;
}
.contain p{
    font-family: linotte;
    font-size: 18px;
    color: rgb(189, 189, 189);
}
.contain ul li{
    font-family: linotte;
    font-size: 18px;
    list-style: disc;
    list-style-position: inside;
    line-height: 40px;
    color: rgb(110, 110, 110);
}
.contain ul li b{
    color: white;
    font-size: 18px;
}
.big-wrapper{
    width: 100%;
}
 