@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@font-face {
    font-family: 'Batangas';
    src: url('fonts/Batangas\ Bold\ 700.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Linotte';
    src: url('fonts/Linotte\ Regular.otf');
    font-display: swap;
}

@font-face {
    font-family: 'Bookman';
    src: url('fonts/bookman\ old\ style.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Feather';
    src: url('fonts/feather_bold.ttf');
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

.white {
    color: white;
}

.background_blue{
    background-color: #001a2e;
    padding: 20px;
    border-radius: 10px;
}
.background_blue p{
    color: white;
}

.blue{
    color: #5a2484;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.container {
    width: 100%;
}

/* Information section */
dd:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #5a2484;
}

.first {
    color: #5a2484;
    font-weight: 500;
}

.second {
    color: red;
}

#reviews-data .card-body p {
    color: #5a2484;
    line-height: 30px;
}

.btn_stretch{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    flex-grow: 1;
}
.btn_grow{
    flex-grow: 1;
}
.text{}

.heading {
    font-family: Linotte;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: red;
    line-height: 1.2;
}

/* Prices Forms */
.form {
    display: flex;
    flex-direction: column;
}

.form_item {
    position: relative;
    padding-bottom: 18px;
    color: rgb(250, 250, 250);
}

.form__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.form__label {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: #1c1b29;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
    /* border: 0.5px solid rgb(238, 238, 238); */
    cursor: pointer;
    transition: background-color 0.3s,
        border-color 0.3s;
}

.form__label__categories {
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-size: 300% 300%;
    animation: color 24s ease-in-out infinite;
    border: 2px solid rgb(224, 240, 250);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: background-color 0.3s,
        border-color 0.3s;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


.form__label-item {
    display: flex;
    align-items: center;
}

.form__info {
    padding: 0 10px;
}

.form__info-title {
    font-size: 18px;
    padding-bottom: 5px;
    font-family: Linotte;
}

.form__info_category-title {
    font-size: 18px;
    padding-bottom: 5px;
    font-family: Linotte;
    color: blue;
}

.form__info-desc {
    font-size: 18px;
    letter-spacing: 0.02cm;
    color: lawngreen;
    font-family: linotte;
}

.form__price {
    font-size: 16px;
    font-family: Linotte;
    color: rgb(53, 211, 250);
}

.form__input:checked~.form__label .form__img {
    opacity: 1;
}

/* Shipping Card Information */

.shipping-information .card {
    margin-top: 10px;
    border: 2px solid rgba(68, 68, 68, 0.3);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

.first {
    padding-left: 10px;
    font-family: linotte;
    color: #5a2484;
    font-size: 18px;
}

.second {
    padding-left: 10px;
    color: #ff0000;
    font-family: linotte;
    font-size: 18px;
}



/* Notebook Customizations */
.notebook__form__label {
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(45deg, #e6e5e5, #ffffff, #ebf3f7, #f0ebe3);
    background-size: 300% 300%;
    animation: color 24s ease-in-out infinite;
    border: 2px solid rgb(224, 240, 250);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
    /* border: 0.5px solid rgb(238, 238, 238); */
    cursor: pointer;
    transition: background-color 0.3s,
        border-color 0.3s;
}

.notebook__form__info img {
    border-radius: 8px 8px 0px 0px;
}

.notebook__form__info-title {
    padding: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    color: blue;
    font-family: Linotte;
}

.notebook__form__info_category-title {
    font-size: 20px;
    padding-bottom: 5px;
    font-family: Linotte;
    color: #1c1b29;
}

.notebook__form__info-desc {
    padding: 0 20px;
    font-size: 18px;
    color: #666768;
    font-family: 'Nunito', sans-serif;
}

.notebook__form__price {
    padding: 0 20px 20px;
    font-size: 18px;
    font-family: Linotte;
    color: red;
}


/* Form Prices Responsiveness */
@media(max-width:410px) {
    .form__price {
        font-size: 18px;
    }

    .form__info {
        font-size: 0 10px;
    }

    .form__info-desc {
        font-size: 18px;
    }

    .form_item {
        margin: auto;
    }
}
.review_bg{
    color: rgb(255, 196, 0);
    /* font-size: 18px; */
    font-family: Batangas;
}

.background_orange{
    background-color: #fee500;
    padding: 20px;
    border-radius: 10px;
}
.background_green{
    background-color: #18b12c;
    padding: 20px;
    border-radius: 10px;
}
.heading_hook.green{
    color: #001a2e;
}

.background_purple {
    background-color: #8c00f4;
    padding: 20px;
    border-radius: 10px;
}
.background_orange {
    background-color: #001a2e   ;
    padding: 20px;
    border-radius: 10px;
}

.background_orange p{
    color: white;
}

.contactus {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
}

.start,
.center {
    padding-top: 10px;
    padding-bottom: 10px;

}

.center {
    font-family: linotte;
    font-weight: 50;
    letter-spacing: 0.05;
}

.contactus {
    padding: 80px;
}

/* Slider Frames */
.slider-frames {
    overflow: hidden;
    height: auto;
    width: 600px;
    margin-left: 360px;
    margin-top: 20px;
}

/* Slide Animations */
@keyframes slide_animation {
    0% {
        left: 0px;
    }

    10% {
        left: 0px;
    }

    20% {
        left: 600px;
    }

    30% {
        left: 600px;
    }

    40% {
        left: 1200px;
    }

    50% {
        left: 1200px;
    }

    60% {
        left: 600px;
    }

    70% {
        left: 600px;
    }

    80% {
        left: 0px;
    }

    90% {
        left: 0px;
    }

    100% {
        left: 0px;
    }
}

/* .right{
    overflow: hidden;
} */
.slide-images {
    width: 4800px;
    height: auto;
    margin: 0 0 0 -1200px;
    position: relative;
    animation-name: slide_animation;
    animation-duration: 33s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

.img-container {
    height: 800px;
    height: auto;
    position: relative;
    float: left;
}

.img-container img {
    width: 600px;
}

/* Most Customized Photo Mounts section */
.custom-mounts {
    display: flex;
    /* max-width: 25%; */
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    padding: 10px;
    grid-gap: 20px;
}

.custom-mounts .card {
    /* 291b1b */
    /* background-color: #1b1c29; */
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

.custom-mount-container {
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}

.custom-mount-container img {
    object-fit: cover;
    border-radius: 10px;
}

.custom-mount-details {
    display: none;
    padding: 10px;
}

.custom-mount-details h3 {
    color: #0015ff;
    font-size: 18px;
    font-family: Linotte;
}

.custom-mount-details>p {
    display: none;
    color: #ff0000;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.hook {
    color: #d6ff42;
}

/* Photo Mounts section */
.photomounts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    padding: 10px;
    grid-gap: 20px;
}

.photomounts .card {
    background-color: #ffffff;
    border: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

.photomount-container {
    position: relative;
    border: none;
}

.photomount-container img {
    border-radius: 10px;
}

.photomount-details {
    padding: 10px;
    display: none;
    border: none;
}

.photomount-details h3 {
    color: blue;
    font-size: 18px;
    font-family: Linotte;
}


.photomount-details>p {
    color: #001a2e;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.categories .mount-box {
    position: relative;
    width: 400px;
    height: 100px;
    background: #fff;
    cursor: pointer;
    transition: .5s ease;
    border: 2px solid rgba(68, 68, 68, 0.3);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

#progress {
    background-color: #03cc65;
    position: fixed;
    bottom: 170px;
    right: 20px;
    height: 65px;
    width: 65px;
    z-index: 99;
    display: none;
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;
}


.phoneanim{
    position: fixed;
    bottom: 80px;
    right: 5px;
    height: 40px;
    width: 40px;
    z-index: 99;
    /* display: none; */
    justify-content: center;
    place-items: center;
    border-radius: 50%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    cursor: pointer;
}


html {
    scroll-behavior: smooth;
}

.trending-products-card .card .card-wrapper .profile {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.trending-products-card .card .card-wrapper .profile img {
    width: 100%;
    height: 100%;
}

.trending-products-card .card .card-wrapper h2 {
    color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    font-size: 2rem;
    font-family: Batangas;
}

.trending-products-card .card .card-wrapper p {
    line-height: 1.6;
    font-size: 16px;
    color: #0d71fc;
}

.light {
    --mainColor: #64bcf4;
    --hoverColor: #5bacdf;
    --backgroundColor: #f1fcfb;
    --darkOne: #312f3a;
    --darkTwo: white;
    --lightOne: #dddddd;
    --lightTwo: #aaa;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.big-wrapper {
    position: relative;
    padding: 1.7rem 0 2rem;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #1c1b29;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    position: relative;
    max-width: 81rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
    z-index: 10;
}

.container .logo h3 {
    font-family: Batangas;
}

header {
    position: relative;
    z-index: 70;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img {
    border-radius: 50%;
    width: 40px;
    margin-right: 20px;
    margin-top: -4rem;
}

.logo h3 {
    color: var(--darkTwo);
    font-size: 1.55rem;
    line-height: 1.2;
    font-weight: 700;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.links .active {
    color: rgb(53, 211, 250);
}

.links a {
    color: var(--lightTwo);
    margin-left: 2.5rem;
    display: inline-block;
    transition: 0.3s;
    font-size: 18px;
    font-family: linotte;
}

.links a:hover {
    color: var(--hoverColor);
    transform: scale(1.05);
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: #000000 !important;
    background-color: var(--mainColor);
    border-radius: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.custom_btn {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    margin: 5px;
    font-family: linotte;
    color: #000000 !important;
    background-color: var(--mainColor);
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}
.custom_btn_blue {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    margin: 5px;
    font-family: linotte;
    color: #000000 !important;
    background-color: #03cc65;
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}

.custom_btn_orange {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    margin: 5px;
    font-family: linotte;
    color: #ffffff !important;
    background-color: #ff3300;
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}
.yellow{
    color: #fff200;
}
.custom_btn_white {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    margin: 5px;
    font-family: linotte;
    color: #000000 !important;
    background-color: #ffffff;
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}
.custom_btn_yellow {
    display: inline-block;
    padding: 0.9rem 1.9rem;
    margin: 5px;
    font-family: linotte;
    color: #000000 !important;
    background-color: #ffe600;
    border-radius: 20px;
    text-transform: capitalize;
    transition: 0.3s;
}
.cta .btn {
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--hoverColor);
    transform: scale(1) !important;
}

.hamburger-menu {
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger-menu .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkTwo);
    border-radius: 3px;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-8px);
}

.bar::after {
    transform: translateY(8px);
}

.big-wrapper.active .hamburger-menu .bar {
    background-color: transparent;
}

.big-wrapper.active .bar::before {
    transform: translateY(0) rotate(-45deg);
}

.big-wrapper.active .bar::after {
    transform: translateY(0) rotate(45deg);
}

.showcase-area .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.showcase_area_words .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 1.4rem;
    color: var(--darkOne);
    text-transform: capitalize;
    line-height: 1.4;
}

.big-title h1 {
    font-size: 65px;
    font-weight: 800;
    font-family: 'Poppins' sans-serif;
}

.big-title h3 {
    font-family: Feather;
    text-transform: capitalize;
    color: white;
    text-shadow: 2px 2px 0 #000, 2px px 0 #000;
    font-weight: 300;
    font-size: 30px;
    line-height: 2;
    text-align: center;
}

.heading_hook {
    font-family: Feather;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 #000, 2px px 0 #000;
    font-weight: 300;
    font-size: 30px;
    line-height: 2;
    text-align: center;
}

.text {
    color: var(--lightOne);
    font-size: 20px;
    margin: 1.9rem 0 2.5rem;
    line-height: 3;
    font-family: Linotte;
    text-align:justify;
}
.progress-value{}
.sub_heading {
    color: rgb(77, 76, 76);
    font-size: 18px;
    line-height: 2.5;
    font-family: Linotte;
}

.showcase-area .btn {
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translate(15%, 25px);
}

.toggle-btn {
    display: none;
    border: none;
    background: var(--darkTwo);
    color: var(--backgroundColor);
    outline: none;
    cursor: pointer;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    font-size: 1.1rem;
    transition: 0.3s;
}

.toggle-btn i {
    line-height: 39px;
}

.toggle-btn:hover {
    background: var(--mainColor);
}

.big-wrapper.light .toggle-btn i:last-child {
    display: none;
}

.big-wrapper.light .toggle-btn i:first-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:last-child {
    display: block;
}

.big-wrapper.dark .toggle-btn i:first-child {
    display: none;
}

.shape {
    position: absolute;
    z-index: 0;
    width: 500px;
    bottom: -180px;
    left: -15px;
    opacity: 0.1;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    animation: appear 1s 1 both;
}

@keyframes appear {
    0% {
        clip-path: circle(30% at -25% -25%);
    }

    100% {
        clip-path: circle(150% at 0 0);
    }
}

@media screen and (max-width: 870px) {
    .hamburger-menu {
        display: flex;
    }

    .links {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 450px;
        width: 100%;
        height: 100%;
        background-color: #1c1b29;
        z-index: 95;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .links ul {
        flex-direction: column;
    }

    .links a {
        color: #fff;
        margin-left: 0;
        padding: 2rem 0;
    }

    .links .btn {
        background: none;
        color: white;
    }

    .btn {
        color: #ffffff !important;
    }

    .overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }

    .big-wrapper.active .links {
        transform: translateX(0);
        box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    }

    .big-wrapper.active .overlay {
        pointer-events: all;
        opacity: 1;
    }

    .showcase-area {
        padding: 10px 0;
        max-width: 700px;
        margin: 0 auto;
    }

    .showcase-area .container {
        grid-template-columns: 1fr;
        justify-content: center;
        grid-gap: 10px;
    }

    .big-title {
        font-size: 1.1rem;
    }

    .text {
        font-size: 0.95rem;
        margin: 1.4rem 0 1.5rem;
    }

    .person {
        width: 100%;
        transform: none;
    }

    .logo img {

        margin-top: 0;
    }

    .logo h3 {
        font-size: 1.25rem;
    }

    .shape {
        bottom: -180px;
        left: -150px;
    }
}

@media screen and (max-width: 470px) {

    .custom-mount-details>p {
        display: none;
    }

    .container {
        padding: 0 1.5rem;
    }

    .big-title {
        font-size: 0.9rem;
    }

    .text {
        margin: 1.1rem 0 1.5rem;
    }

    .showcase-area .btn {
        font-size: 0.8rem;
    }

    .sub_heading {
        line-height: 2;
        font-size: 17px;
    }

    .heading {
        font-size: 8px;
    }
}

.categories-title p {
    color: #0d71fc;
    font-size: 1.3em;
    letter-spacing: 2px;
}

.checkpoint h3 {
    margin-bottom: 0.5em;
    color: whitesmoke;
    font-family: Batangas;
}

.timeline {
    margin: 2em auto;
    max-width: 34.15em;
}

.checkpoint {
    max-width: 34em;
    padding-bottom: 2em;
    position: relative;
}

.checkpoint div {
    border: 2px solid #e9e9e9;
    border-radius: 1em;
    padding: 1.5em;
    background-color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 1);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

.checkpoint:nth-child(odd) h3 {
    color: #3daff5;
    text-decoration: underline;
}

.checkpoint:nth-child(even) h3 {
    text-decoration: underline;
    color: #18011d;
}

.checkpoint p {
    line-height: 27px;
    color: #6e6e6e;
    font-size: 16px;
}

.checkpoint:nth-child(odd) {
    border-left: 3px solid #bbbbbb;
    padding-left: 3em;
    transform: translateX(17em);
}

.checkpoint:nth-child(even) {
    border-right: 3px solid #59deff;
    padding-right: 3em;
    transform: translateX(-16.8em);
}

.checkpoint:nth-child(odd)::before,
.checkpoint:nth-child(even)::before {
    content: '';
    background: #888;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.checkpoint:nth-child(odd)::before {
    left: 0;
}

.checkpoint:nth-child(even)::before {
    right: 0;
}

.checkpoint:nth-child(odd) div::before,
.checkpoint:nth-child(even) div::before {
    content: '';
    background: #4fc7ff;
    box-shadow: 0 0 0.5#0d71fc;
    width: 0.8em;
    height: 0.8em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.checkpoint:nth-child(odd) div::before {
    left: -0.5em;
}

.checkpoint:nth-child(even) div::before {
    right: -0.5em;
}

/* Responsive design for photo mounts categories */
@media screen and (max-width: 1150px) {
    .timeline {
        width: 95vw;
    }

    .timeline .checkpoint {
        width: 100%;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
    }

    .timeline .checkpoint::before {
        width: 3px;
        height: 4em;
        top: -2em;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline .checkpoint div::before {
        top: -0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Prices Forms */
.form {
    display: flex;
    flex-direction: column;
}

.form_item {
    position: relative;
    padding-bottom: 20px;
    color: black;
}

.form__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.form__label {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(45deg, #e6e5e5, #ffffff, #ebf3f7, #f0ebe3);
    background-size: 300% 300%;
    animation: color 24s ease-in-out infinite;
    border: 2px solid rgb(224, 240, 250);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: background-color 0.3s,
        border-color 0.3s;
}

.form__label__categories {
    padding: 20px;
    display: flex;
    background-color: #001a2e;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-size: 300% 300%;
    animation: color 24s ease-in-out infinite;
    border: 2px solid rgb(224, 240, 250);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: background-color 0.3s,
        border-color 0.3s;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.form__label-item {
    display: flex;
    align-items: center;
}

.form__info {
    padding: 0 10px;
}

.form__info-title {
    font-size: 20px;
    padding-bottom: 5px;
    font-family: Linotte;
}
.footer{}

.form__info_category-title {
    font-size: 18px;
    padding-bottom: 5px;
    font-family: Linotte;
    color: white;
}

.form__info-desc {
    font-size: 18px;
    letter-spacing: 0.02cm;
    color: rgb(255, 0, 0);
    font-family: linotte;
}

.form__price {
    font-size: 18px;
    font-family: Linotte;
    color: blue;
}

.form__input:checked~.form__label .form__img {
    opacity: 1;
}

/* Form Prices Responsiveness */
@media(max-width:410px) {
    .form__price {
        font-size: 18px;
    }

    .form__info {
        font-size: 0 10px;
    }

    .form__info-desc {
        font-size: 18px;
    }

    .form_item {
        margin: auto;
    }
}

/* FrequentAsked Questions */
.accord {
    width: 100%;
    transform: translate(1%, 0%);
}

.accord .accord-list {
    list-style: none;
    align-items: center;
    border-radius: 8px;
    background: #fff;
    border: 2px solid rgb(224, 240, 250);
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.7);
}

.accord .accord-list label {
    align-items: center;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #5a2484;
    font-family: Linotte;
}

.accord label::before {
    content: '-';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accord input[type="radio"] {
    display: none;
}

.accord .content {
    font-family: Linotte;
    column-rule-color: rgb(167, 164, 164);
    padding: 0 10px;
    color: rgb(45, 44, 44);
    line-height: 26px;
    font-size: 17px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accord input[type="radio"]+label+.content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accord input[type="radio"]:checked+label::before {
    content: '-';
}


/* Testimonials */
.section-header {
    text-align: center;
    margin-bottom: 50px;
}

.section-header .title {
    font-family: Linotte;
    font-size: 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: hsl(0, 0%, 0%);
    line-height: 1.2;
}

.testimonials {
    padding: 50px 0 10px 0;
    height: 100%;
}

.testimonials-item {
    background-color: #001a2e;
    padding: 30px;
    border-radius: 30px;
    height: auto;
}

.testimonials-item .quotes {
    color: red;
    font-size: 30px;
}

.testimonials-item .info {
    display: flex;
    align-items: center;
}

.testimonials-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonials-item .name {
    font-family: Linotte;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
}

.testimonials-item p {
    margin-top: 20px;
    color: hsl(0, 2%, 78%);
    display: block;
    line-height: 1.8em;
}

.testimonials-item .rating {
    margin-top: 15px;
    font-size: 14px;
    color: hsl(36, 88%, 66%);
}

.testimonials .swiper-pagination {
    position: relative;
    margin-top: 20px;
    bottom: auto;
}

.testimonials .swiper-pagination-bullet {
    height: 12px;
    width: 12px;
    background-color: hsl(163, 78%, 2%);
}

.heading {
    font-family: Linotte;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    color: red;
    line-height: 1.2;
    text-align: center;
}

/* Resposive Website */
@media(max-width:767px) {

    /* For Notebooks and photomounts */
    .photomounts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 10px;
        grid-gap: 20px;
    }

    .photomount-container img {
        height: 200px;
        object-fit: cover;
    }

    .information {
        margin-bottom: 10px;
    }

    body,
    html {
        overflow-x: hidden !important;
    }

    .text-box {
        margin-top: 10%;
        position: absolute;
        color: black;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .text-box p {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        font-family: Linotte;
    }

    .text-box h1 {
        font-size: 30px;
    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .main_box {
        visibility: visible;
    }

    .mobile_nav {
        visibility: visible;
    }

    .navbar_one {
        position: absolute;
        width: 100%;
        visibility: hidden;
    }

    .bg-img {
        height: 30vh;
    }

    .accord {
        transform: translate(2%, 0%);
    }
}

@media(max-width:576px) {
    .photomounts {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .custom-mounts {
        padding: 10px;
    }

    .notebooks .photomount-details>p {
        display: none;
    }

    body,
    html {
        overflow-x: hidden !important;
    }

    /* Frequently asked Questions */
    .accord .accord-list {
        margin: 5px;
    }

    .text-box {
        margin-top: 15%;
        position: absolute;
        color: black;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .text-box p {
        font-size: 16px;
        line-height: 30px;
        color: #fff;
        font-family: Linotte;
    }

    .text-box h1 {
        line-height: 0px;
        font-size: 30px;
    }

    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }

    .accord {
        transform: translate(3%, 0%);
    }

    .container {
        max-width: 100%;
        padding: 20px;
    }

}

.sample {
    overflow: hidden;
}

.pv-archiveText {
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #041562;
    overflow: hidden;
}


/* Information section */
/* .support:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    color: #5a2484;
} */

.first {
    padding: 10px;
    font-family: Linotte;
    color: #5a2484;
    font-size: 16px;
    font-weight: 500;
}

.second {
    padding-left: 10px;
    color: #ff0000;
    font-family: linotte;
    font-size: 16px;
}

#reviews-data .card-body p {
    color: #5a2484;
    line-height: 30px;
}

/* Footer */
.footer {
    background-color: #12111a;
    padding: 25px 0;
}

.form .form__item:nth-child(2) {
    transition-delay: 200ms;
}

.form .form__item:nth-child(3) {
    transition-delay: 400ms;
}

.form .form__item:nth-child(4) {
    transition-delay: 600ms;
}

.form .form__item:nth-child(5) {
    transition-delay: 800ms;
}

.form .form__item:nth-child(6) {
    transition-delay: 1000ms;
}

.form .form__item:nth-child(7) {
    transition-delay: 1200ms;
}

.form .form__item:nth-child(8) {
    transition-delay: 1400ms;
}

.fa-facebook {
    color: #1877F2;
}

.fa-instagram {
    color: rgb(245, 50, 83);
}

.fa-tiktok {
    color: #FE2C55;
}